.work-schedule {
  .fc-header-toolbar {
    .fc-toolbar-chunk>div {
      display: flex;
      align-items: center;
      gap: 25px;

      .fc-today-button {
        border-radius: 45px;
        border: 1px solid #435659;
        background-color: transparent;
        color: #333;
        width: 67px;
        height: 32px;
        padding-inline: 16px;
        font-size: 12px;
        font-weight: 500;
        outline: none;
        box-shadow: none !important
      }

      .fc-toolbar-title {
        display: flex;
        height: 32px;
        padding: 16px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #333;
        font-size: 16px;
        font-weight: 500;
      }

      .fc-prev-button {
        outline: none;
        box-shadow: none !important
      }

      .fc-next-button {
        outline: none;
        box-shadow: none !important
      }
    }

  }
}